* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui;
    color-scheme: dark;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
}


#content-wrapper {
    max-width: 40rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: .5rem;
}

.content-categories {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}

#search-input {
    padding: .5em;
}

.content-category-button {
    margin-block: 1rem;
    padding: .5em 1em;
}

#pokedex-wrapper {
    display: flex;
    flex-direction: column;
}

.pokemon-type,
.pokemon-second-type {
    border: 1px solid white;
    border-radius: .5rem;
    padding: .5rem;
}

.pokemon-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* POKEMON TYPE COLOR CHART */

.grass-type {
    background-color: hsl(166, 59%, 55%);
}

.poison-type {
    background-color: rgb(100, 18, 100);
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}